<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torneo</title>
    <link rel="stylesheet" href="stylesheets/style_keys.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body onload="initTorneo()" background="../images/fondo.jpg" >
    
    <div class="row" style="width: 100%;">
        <div class="col">
            <div style="text-align: left;">
                <button type="submit" onclick="window.location.href='/main';" style="background: url(images/back4.png); width: 50px; height: 50px; background-color: white; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none;"/>
            </div>
        </div>
        
        <div class="col">
            <div style="text-align: right;">
                <form action="/logout" method="POST">
                    <button type="submit" style="background: url(images/logout-48.png); width: 50px; height: 50px; background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none;"/>
                </form>
            </div>
        </div>
    </div>

    <form action="/terminarTorneo" method="POST" style="text-align: center; display: none;" id="formTerminarTorneo">
        <input type="hidden" name="idTorneo" id="idTorneoForm">
        <input class="glyphicon glyphicon-user btn-lg btn-success" type="submit" value="Terminar Torneo" style="height: 50px;"/>
    </form>

    <div class="wrapper" id="main-div">

        <div class="item">
          <div class="item-parent">
            <p>?</p>
          </div>
          <div class="item-childrens">
            <div class="item-child">
                <div class="item">
                    <div class="item-parent">
                    <p>?</p>
                    </div>
                    <div class="item-childrens">
                        <div class="item-child">
                            <p>Jose <button onclick="location.href = '/generarPartida'">Simular</button></p>
                        </div>
                        <div class="item-child">
                            <p>Usuario <button onclick="location.href = '/generarPartida'">Simular</button></p>
                        </div>
                    </div>
                </div>
                
            </div>
            
            <div class="item-child">
                <div class="item">
                    <div class="item-parent">
                    <p>?</p>
                    </div>
                    <div class="item-childrens">
                    <div class="item-child">
                        <p>usuario <button>Jugar</button></p>
                    </div>
                    <div class="item-child">
                        <p>Tito <button>Jugar</button></p>
                    </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        
      </div>
</body>

<script>
    function initTorneo()
    {
        let partidas = getObject("<%= partidas %>");
        let grupos = getCantidadGrupos(partidas);
        let isAdmin = "<%= adminUser %>";
        let idTorneo = "<%= idTorneo %>";

        console.log(partidas)
        if(isAdmin === 'true')
        {
            document.getElementById("formTerminarTorneo").style["display"] = "block";
            document.getElementById("idTorneoForm").value = idTorneo;
        }
        
        let content = '';

        if(grupos === 4)
        {
            let nivel2 = [{jugador1: '?', jugador2: '?'},{jugador1: '?', jugador2: '?'}]

            let count = 0;
            for(let i = 0; i < partidas.length; i++)
            {
                if(partidas[i].nivel === 2)
                {
                    nivel2[count] = partidas[i];
                    
                    if(nivel2[count].jugador2 === null)
                    {
                        nivel2[count].jugador2 = '?';
                    }

                    count++;
                }
            }


            let nivel3 = [{jugador1: '?', jugador2: '?'},{jugador1: '?', jugador2: '?'}]

            let count3 = 0;
            for(let i = 0; i < partidas.length; i++)
            {
                if(partidas[i].nivel === 3)
                {
                    nivel3[count3] = partidas[i];
                    
                    if(nivel3[count3].jugador2 === null)
                    {
                        nivel3[count3].jugador2 = '?';
                    }

                    count3++;
                }
            }

            if(isAdmin === 'true')
            {
                content += `<div class="item">
                        <div class="item-parent">
                            <p>` + 'u_' + nivel3[0].jugador1 + ' vs ' +  'u_' + nivel3[0].jugador2 + 
                                                `<br>
                                                ` +((nivel3[0].ganador === null)? `
                                                <button onclick="location.href = '/simularPartida?id=` + nivel3[0].id + `&j1=` + nivel3[0].jugador1 + `&j2=` + nivel3[0].jugador2 + `'">
                                                    Simular
                                                </button>`: ``)+
                                                `</p>
                        </div>
                        <div class="item-childrens">
                            <div class="item-child">
                                <div class="item">
                                    <div class="item-parent">
                                        <p>` + 'u_' + nivel2[0].jugador1 + ' vs ' +  'u_' + nivel2[0].jugador2 + 
                                                `<br>
                                                ` +((nivel2[0].ganador === null)? `
                                                <button onclick="location.href = '/simularPartida?id=` + nivel2[0].id + `&j1=` + nivel2[0].jugador1 + `&j2=` + nivel2[0].jugador2 + `'">
                                                    Simular
                                                </button>`: ``)+
                                                `</p>
                                    </div>
                                    <div class="item-childrens">
                                        <div class="item-child">
                                            <p>` + 'u_' + partidas[0].jugador1 + ' vs ' +  'u_' + partidas[0].jugador2 + 
                                                `<br>
                                                ` +((partidas[0].ganador === null)? `
                                                <button onclick="location.href = '/simularPartida?id=` + partidas[0].id + `&j1=` + partidas[0].jugador1 + `&j2=` + partidas[0].jugador2 + `'">
                                                    Simular
                                                </button>`: ``)+
                                                `</p>
                                        </div>
                                        <div class="item-child">
                                            <p>` + 'u_' + partidas[1].jugador1 + ' vs ' +  'u_' + partidas[1].jugador2 + 
                                                `<br>
                                                ` +((partidas[1].ganador === null)? `
                                                <button onclick="location.href = '/simularPartida?id=` + partidas[1].id + `&j1=` + partidas[1].jugador1 + `&j2=` + partidas[1].jugador2 + `'">
                                                    Simular
                                                </button>`: ``)+
                                                `</p>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            
                            <div class="item-child">
                                <div class="item">
                                    <div class="item-parent">
                                        <p>` + 'u_' + nivel2[1].jugador1 + ' vs ' +  'u_' + nivel2[1].jugador2 + 
                                                `<br>
                                                ` +((nivel2[1].ganador === null)? `
                                                <button onclick="location.href = '/simularPartida?id=` + nivel2[1].id + `&j1=` + nivel2[1].jugador1 + `&j2=` + nivel2[1].jugador2 + `'">
                                                    Simular
                                                </button>`: ``)+
                                                `</p>
                                    </div>
                                    <div class="item-childrens">
                                    <div class="item-child">
                                        <p>` + 'u_' + partidas[2].jugador1 + ' vs ' +  'u_' + partidas[2].jugador2 + 
                                                `<br>
                                                ` +((partidas[2].ganador === null)? `
                                                <button onclick="location.href = '/simularPartida?id=` + partidas[2].id + `&j1=` + partidas[2].jugador1 + `&j2=` + partidas[2].jugador2 + `'">
                                                    Simular
                                                </button>`: ``)+
                                                `</p>
                                    </div>
                                    <div class="item-child">
                                        <p>` + 'u_' + partidas[3].jugador1 + ' vs ' +  'u_' + partidas[3].jugador2 + 
                                                `<br>
                                                ` +((partidas[3].ganador === null)? `
                                                <button onclick="location.href = '/simularPartida?id=` + partidas[3].id + `&j1=` + partidas[3].jugador1 + `&j2=` + partidas[3].jugador2 + `'">
                                                    Simular
                                                </button>`: ``)+
                                                `</p>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>`
            }
            else
            {
                content += `<div class="item">
                        <div class="item-parent">
                            <p>` + 'u_' + nivel3[0].jugador1 + ' vs ' +  'u_' + nivel3[0].jugador2 + 
                                                `<br>
                                                ` +((nivel3[0].ganador === null)? `
                                                <button onclick="location.href = '/generarPartida?id=` + nivel3[0].id + `&j1=` + nivel3[0].jugador1 + `&j2=` + nivel3[0].jugador2 + `'">
                                                    Jugar
                                                </button>`: ``)+
                                                `</p>
                        </div>
                        <div class="item-childrens">
                            <div class="item-child">
                                <div class="item">
                                    <div class="item-parent">
                                        <p>` + 'u_' + nivel2[0].jugador1 + ' vs ' +  'u_' + nivel2[0].jugador2 + 
                                                `<br>
                                                ` +((nivel2[0].ganador === null)? `
                                                <button onclick="location.href = '/generarPartida?id=` + nivel2[0].id + `&j1=` + nivel2[0].jugador1 + `&j2=` + nivel2[0].jugador2 + `'">
                                                    Jugar
                                                </button>`: ``)+
                                                `</p>
                                    </div>
                                    <div class="item-childrens">
                                        <div class="item-child">
                                            <p>` + 'u_' + partidas[0].jugador1 + ' vs ' +  'u_' + partidas[0].jugador2 + 
                                                `<br>
                                                ` +((partidas[0].ganador === null)? `
                                                <button onclick="location.href = '/generarPartida?id=` + partidas[0].id + `&j1=` + partidas[0].jugador1 + `&j2=` + partidas[0].jugador2 + `'">
                                                    Jugar
                                                </button>`: ``)+
                                                `</p>
                                        </div>
                                        <div class="item-child">
                                            <p>` + 'u_' + partidas[1].jugador1 + ' vs ' +  'u_' + partidas[1].jugador2 + 
                                                `<br>
                                                ` +((partidas[1].ganador === null)? `
                                                <button onclick="location.href = '/generarPartida?id=` + partidas[1].id + `&j1=` + partidas[1].jugador1 + `&j2=` + partidas[1].jugador2 + `'">
                                                    Jugar
                                                </button>`: ``)+
                                                `</p>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            
                            <div class="item-child">
                                <div class="item">
                                    <div class="item-parent">
                                        <p>` + 'u_' + nivel2[1].jugador1 + ' vs ' +  'u_' + nivel2[1].jugador2 + 
                                                `<br>
                                                ` +((nivel2[1].ganador === null)? `
                                                <button onclick="location.href = '/generarPartida?id=` + nivel2[1].id + `&j1=` + nivel2[1].jugador1 + `&j2=` + nivel2[1].jugador2 + `'">
                                                    Jugar
                                                </button>`: ``)+
                                                `</p>
                                    </div>
                                    <div class="item-childrens">
                                    <div class="item-child">
                                        <p>` + 'u_' + partidas[2].jugador1 + ' vs ' +  'u_' + partidas[2].jugador2 + 
                                                `<br>
                                                ` +((partidas[2].ganador === null)? `
                                                <button onclick="location.href = '/generarPartida?id=` + partidas[2].id + `&j1=` + partidas[2].jugador1 + `&j2=` + partidas[2].jugador2 + `'">
                                                    Jugar
                                                </button>`: ``)+
                                                `</p>
                                    </div>
                                    <div class="item-child">
                                        <p>` + 'u_' + partidas[3].jugador1 + ' vs ' +  'u_' + partidas[3].jugador2 + 
                                                `<br>
                                                ` +((partidas[3].ganador === null)? `
                                                <button onclick="location.href = '/generarPartida?id=` + partidas[3].id + `&j1=` + partidas[3].jugador1 + `&j2=` + partidas[3].jugador2 + `'">
                                                    Jugar
                                                </button>`: ``)+
                                                `</p>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>`
            }
        }
        
        document.getElementById('main-div').innerHTML = content;
        console.log("INICIADO");
    }

    function getCantidadGrupos(partidas)
    {
        let grupos = 0;

        for(let i = 0; i < partidas.length; i++)
        {
            if(partidas[i].nivel === 1)
            {
                grupos ++;
            }
        }

        return grupos;
    }

    function getLevel(level, content)
    {
        if(level === 0)
        {
            let result = '';

            /*for(let i = 0; i < length / 2; i++)
            {
                */result += `<div class="item-childrens">
                        <div class="item-child">
                            <p>child 1</p>
                        </div>
                        <div class="item-child">
                            <p>child 2</p>
                        </div>
                    </div>`;
            /*}

            console.log(result)
                    */
            return result;
        }
        else
        {
            return `<div class="item">
                        <div class="item-parent">
                            <p>?</p>
                        </div>`+ getLevel(level-1, content) + `</div>`;
        }
    }

    function getObject(value)
    {
        var aux = $('<textarea />').html(value).text();
        
        return JSON.parse(aux);
    }
</script>

</html>