<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/style_keys.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body onload="initTorneo()">
    <div id="main-div" class="bracket">
        <section class="round quarterfinals">
            <div class="winners">
                <div class="matchups">
                    <div class="matchup">
                        <div class="participants">
                            <div class="participant winner"><span>Uno</span></div>
                            <div class="participant"><span>Ocho</span></div>
                        </div>
                    </div>
                    <div class="matchup">
                        <div class="participants">
                            <div class="participant"><span>Dos</span></div>
                            <div class="participant winner"><span>Siete</span></div>
                        </div>
                    </div>
                </div>
                <div class="connector">
                    <div class="merger"></div>
                    <div class="line"></div>
                </div>
            </div>
            <div class="winners">
                <div class="matchups">
                    <div class="matchup">
                        <div class="participants">
                            <div class="participant"><span>Treis</span></div>
                            <div class="participant winner"><span>Seis</span></div>
                        </div>
                    </div>
                    <div class="matchup">
                        <div class="participants">
                            <div class="participant"><span>Cuatro</span></div>
                            <div class="participant winner"><span>Cinco</span></div>
                        </div>
                    </div>
                </div>
                <div class="connector">
                    <div class="merger"></div>
                    <div class="line"></div>
                </div>
            </div>
        </section>
        <section class="round semifinals">
            <div class="winners">
                <div class="matchups">
                    <div class="matchup">
                        <div class="participants">
                            <div class="participant winner"><span>Uno</span></div>
                            <div class="participant"><span>Dos</span></div>
                        </div>
                    </div>
                    <div class="matchup">
                        <div class="participants">
                            <div class="participant winner"><span>Seis</span></div>
                            <div class="participant"><span>Cinco</span></div>
                        </div>
                    </div>
                </div>
                <div class="connector">
                    <div class="merger"></div>
                    <div class="line"></div>
                </div>
            </div>
        </section>
        <section class="round finals">
            <div class="winners">
                <div class="matchups">
                    <div class="matchup">
                        <div class="participants">
                            <div class="participant winner"><span>Uno</span></div>
                            <div class="participant loser"><span>Seis</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

<script>
    function initTorneo()
    {
        let partidas = getObject("<%= partidas %>");

        console.log(partidas);

        let html_source = '';

        html_source += '<section class="round quarterfinals">';

        for(let i = 0; i < partidas.length; i++)
        {
            html_source += `
            <div class="winners">
                <div class="matchups">
                    <div class="matchup">
                        <div class="participants">
                            <div class="participant winner"><span>` + partidas[i].nombre_j1 + `</span></div>
                            <div class="participant loser"><span>` + partidas[i].nombre_j2 + `</span></div>
                        </div>
                    </div>
                </div>

                <div class="connector">
                    <div class="merger"></div>
                    <div class="line"></div>
                </div>

            </div>`;
        }

        /*html_source += `<div class="connector">
                    <div class="merger"></div>
                    <div class="line"></div>
                </div>`;*/
        html_source += '</section>';

        html_source += '<section class="round quarterfinals">';
        html_source += `
            <div class="winners">
                <div class="matchups">
                    <div class="matchup">
                        <div class="participants">
                            <div class="participant winner"><span>` + 'AS' + `</span></div>
                            <div class="participant loser"><span>` + 'asd' + `</span></div>
                        </div>
                    </div>
                </div>
            </div>`;

            html_source += `
            <div class="winners">
                <div class="matchups">
                    <div class="matchup">
                        <div class="participants">
                            <div class="participant winner"><span>` + 'AS' + `</span></div>
                            <div class="participant loser"><span>` + 'asd' + `</span></div>
                        </div>
                    </div>
                </div>
            </div>`;
            html_source += '</section>';
        //document.getElementById('main-div').innerHTML = html_source;
        console.log("INICIADO");
    }

    function getObject(value)
    {
        var aux = $('<textarea />').html(value).text();
        
        return JSON.parse(aux);
    }

    //lado de nodejs
    function shake(array)
    {
        var currentIndex = array.length, temporaryValue, randomIndex;

        while (0 !== currentIndex) 
        {
            randomIndex = Math.floor(Math.random() * currentIndex);
            currentIndex -= 1;

            temporaryValue = array[currentIndex];
            array[currentIndex] = array[randomIndex];
            array[randomIndex] = temporaryValue;
        }

        return array;
    }
</script>

</html>